

*{
    /*height: 100%;*/         /*N esta funcionado,n sei pq*/ /*tambem n funcionou na aula*/ /*Boa sorte para pequisar depois*/
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#7FE1FA,#5FA9BB);

}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;   /*centraliza independentedo tamanho da tela*/
    border-radius: 20px;
    box-shadow: 5px 5px 15px #3b6a75c7;

}
h1{
    color: #1A677A;
    text-align: center;
    text-shadow: 1px 1px 2px #124552bb;

}
h2{
    color: #2492AD;

}
p{
    text-align: justify;
}